@import "theme";
/* You can add global styles to this file, and also import other style files */
.nav-active {
  background-color: mat-color($mat-grey, 100) !important;
  color: mat-color($accent) !important;
}

.nav-active mat-icon {
  color: mat-color($accent) !important;
}

.mat-expansion-panel{
  background-color: #ECF0E7;
}

.card-top-right-button {
  float: right;
  //vertical-align: top;
  margin-top: 10px !important;
  margin-right: 10px !important;
  background-color: mat-color($primary);
}
