#background{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#driver{
  width: 50%;
  align-self: left;
  font-size: 25px;
  text-align: left;
  margin: 0px;
}

.description{
  margin: 0px;
}

#originAndDestinationContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: larger;
}

.bottomInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notes{
  background-color: lightgray;
}

.fab{
  position: fixed;
  right: 10px;
}

#searchRide{
  margin-bottom: 75px;
}

.mat-fab-bottom-right{
  position: fixed;
  margin-right: 10px;
}

@media only screen and (max-device-width: 500px){
  #originAndDestinationContainer{
    font-size: smaller;
  }
}

