#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

#rides{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 30px;
  border: black;
}

.header{
  flex-direction: row;
  height: 30px;
}

#driver{
  align-self: left;
  font-size: 25px;
  text-align: left;
  margin: 0px;
}
#gear{
  margin-left: 75%;
  width: 10%;
  font-size: 10px;
}

#icon{
  text-align: center;
}

.path{
  flex-direction: row;
  font-size: 50px;
  color: white;
}

.arrow{
  color: #DE9A14;
  font-size: 40px;
}

.true{
  color: green;
}
.false{
  color: red;
}

#addRide{
  background-color: #DE9A14;
  color: white;
}

.fab{
  position: fixed;
  right: 10px;
}

/*options-dropdown{

}*/


#searchRide{
  background-color: #DE9A14;
  color: white;
  margin-bottom: 75px;
}

.mat-fab-bottom-right{
  position: fixed;
  margin-right: 10px;
}

.settings-dropdown {
  position: absolute;
  margin-right: 50px;
  padding: 4px 8px;
}
.settings-dropdown /deep/.mat-select-arrow-wrapper {
  visibility: hidden;
}

#gear/deep/ .mat-form-field-underline{
  display: none;
}

.mat-input-infix mat-form-field-infix{
  align-content: left;
}
