#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

.arrow{
  color: #DE9A14;

}

#addRide{
  background-color: #DE9A14;
  color: white;
}

.fab{
  position: fixed;
  right: 10px;
}options-dropdown{

}


#searchRide{
  background-color: #DE9A14;
  color: white;
  margin-bottom: 75px;
}

.mat-fab-bottom-right{
  position: fixed;
  margin-right: 10px;
}

.settings-dropdown {
  position: absolute;
  margin-top: 33px;
  padding: 4px 8px;
}
.settings-dropdown /deep/.mat-select-arrow-wrapper {
  visibility: hidden;
}

#gear/deep/ .mat-form-field-underline{
  display: none;
}

.mat-input-infix mat-form-field-infix{
  align-content: right;
}
