<div class="search-ride">
  <form [formGroup]="searchRideForm">
    <h2 mat-dialog-title>Search</h2>
    <mat-dialog-content layout="column">
      <mat-form-field flex>
        <input matInput #input id="originField" placeholder="Origin" [(ngModel)]="data.ride.origin" formControlName="origin"
               [maxLength]="50">
        <mat-error *ngFor="let validation of search_ride_validation_messages.origin">
          <mat-error class="error-message" id="origin-error"
                     *ngIf="searchRideForm.get('origin').hasError(validation.type) &&
                     (searchRideForm.get('origin').dirty || searchRideForm.get('origin').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field flex>
        <input matInput #input id="destinationField" placeholder="Destination" [(ngModel)]="data.ride.destination" formControlName="destination"
               [maxLength]="50">
        <mat-error *ngFor="let validation of search_ride_validation_messages.destination">
          <mat-error class="error-message" id="destination-error"
                     *ngIf="searchRideForm.get('destination').hasError(validation.type) &&
                     (searchRideForm.get('destination').dirty || searchRideForm.get('destination').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field flex>
        <input id="departureDateField" matInput [matDatepicker]="picker" placeholder="Departure Date" [(ngModel)]="data.ride.departureDate"
               [maxLength]="0" [ngModelOptions]="{standalone: true}" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input type="time" matInput #input id="departureTimeField" placeholder="Departure Time" [(ngModel)]="data.ride.departureTime"
               [ngModelOptions]="{standalone: true}" >
      </mat-form-field>

      <mat-checkbox id="roundTripCheckBox" name ="roundTripStatus" ngDefaultControl [(ngModel)]="data.ride.roundTrip" [ngModelOptions]="{standalone: true}" >Round Trip</mat-checkbox>

    </mat-dialog-content>

    <mat-dialog-actions layout="row">
      <button mat-raised-button id="confirmSearchRideButton" [mat-dialog-close]="data.ride" type="button" color="primary"
              [disabled]="!searchRideForm.valid">Search
      </button>
      <button mat-raised-button id="exitWithoutSearchingButton" [mat-dialog-close]="null" type="button">Cancel</button>
    </mat-dialog-actions>
  </form>
</div>
