#navHome:hover {
  background-color: #a39fb1;
  color: white;
}

#navProfile:hover{
  background-color: #a39fb1;
  color: white;
}

#navRides:hover {
  background-color: #a39fb1;
  color: white;
}



