#profileNav{
  color: goldenrod;
}

#homeNav{
  color:Maroon;
}


#carNav{
  color:slateblue;
}

#navHome:hover {
  background-color: #a39fb1;
  color: white;
}

#navProfile:hover{
  background-color: #a39fb1;
  color: white;
}

#navRides:hover {
  background-color: #a39fb1;
  color: white;
}


