<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="Profile_Page"> {{appComponent.getUsername()}}</mat-card-title>
      <div>
        <mat-card-content class="userInfo">
          <div>Email: {{appComponent.getUserEmail()}}</div>
          <div><img src="{{appComponent.getUserPic()}}"></div>
        </mat-card-content>
        <p></p>
        <mat-divider></mat-divider>
        <p></p>
        <mat-card-content>
        <button mat-icon-button class="card-top-right-button"
                (click)="vehicleListComponent.openAddVehicleDialog()">
          <mat-icon aria-label="New Vehicle">add</mat-icon>
        </button>

        <mat-card-title class="vehicleHeader">Vehicles</mat-card-title>
        <p></p>
        <mat-accordion *ngIf="vehicles; else vehiclesError">
          <mat-expansion-panel #elem class="vehicles" [id]="vehicle.model" *ngFor="let vehicle of vehicles">

            <mat-expansion-panel-header>
              <mat-panel-title>{{vehicle.model}}</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-panel-description>Color: {{vehicle.color}}</mat-panel-description>
            <mat-panel-description>Engine: {{vehicle.engine}}</mat-panel-description>
            <mat-panel-description>MPG: {{vehicle.mpg}}</mat-panel-description>
            <mat-panel-description *ngIf="vehicle.ecoFriendly">Eco-Friendly: Yes</mat-panel-description>
            <mat-panel-description *ngIf="!vehicle.ecoFriendly">Eco-Friendly: No</mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>
        </mat-card-content>
        <ng-template #vehiclesError>
          <mat-error>
            There was a problem loading the vehicles. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>

      </div>
    </mat-card>
  </div>

</div>
